apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  JWT_SECRET: '{{ .Values.secrets.jwtSecret }}'
  DATABASE_URL_USER: '{{ .Values.secrets.databaseUrlUser }}'
  DATABASE_URL_ORDER: '{{ .Values.secrets.databaseUrlOrder }}'
  DATABASE_URL_REPORT: '{{ .Values.secrets.databaseUrlReport }}'
